In [48]:
import pandas as pd

# Data Exploration

In [49]:
df = pd.read_csv('../data/processed_weather_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               96453 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Pressure (millibars)      95165 non-null  float64
 10  Daily Summary             96453 non-null  object
 11  Hour                      96453 non-null  int64
 12  Day                       96453 non-null  int64
 13  Month                     96453 non-null  int64
 14  Year                      96453 non-null  int64
 15  Weekday                   96453 non-null  int64
dtypes: float64(7), int64(5), object(4)
memory usage: 11.8+ MB

In [50]:
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.,22,31,3,2006,4
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.,23,31,3,2006,4
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,Partly cloudy throughout the day.,0,1,4,2006,5
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,Partly cloudy throughout the day.,1,1,4,2006,5
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,Partly cloudy throughout the day.,2,1,4,2006,5

In [51]:
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Hour,Day,Month,Year,Weekday
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,95165.000000,96453.000000,96453.000000,96453.000000,96453.00000,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,1016.814140,11.499891,15.727100,6.523001,2011.00029,2.999347
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,7.778356,6.922049,8.802216,3.448501,3.16216,2.000282
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,973.780000,0.000000,1.000000,1.000000,2005.00000,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,1012.120000,6.000000,8.000000,4.000000,2008.00000,1.000000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,1016.550000,11.000000,16.000000,7.000000,2011.00000,3.000000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,1021.160000,17.000000,23.000000,10.000000,2014.00000,5.000000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,1046.380000,23.000000,31.000000,12.000000,2016.00000,6.000000

# Set up

In [52]:
df['Formatted Date'] = pd.to_datetime(df['Formatted Date'], utc=True)
df.set_index('Formatted Date', inplace=True)

# Analyzing Data through time
### Questions need to be answered
1. The temperature and humidity throughout the years
2. The weather pattern monthly throughout the year?
3. The weather pattern hourly throughout the day?
4. Yearly Variation: How has the average wind speed changed over the years?
5. Monthly Difference: In which month of the year is the largest gap between the Apparent Temperature (째C) and the Temperature (째C)?

In [76]:
#The temperature and humidity throughout the years
yearly_avg = df.groupby('Year')[['Temperature (C)', 'Humidity']].mean()
yearly_avg

      Temperature (C)  Humidity
Year
2005         0.577778  0.890000
2006        11.215225  0.767349
2007        12.134677  0.689647
2008        12.161819  0.701239
2009        12.269682  0.707247
2010        11.200176  0.796861
2011        11.524934  0.736008
2012        11.986824  0.689513
2013        11.941017  0.754197
2014        12.528228  0.748571
2015        12.312088  0.732354
2016        11.987381  0.760868

In [54]:
# The weather pattern monthly throughout the year?
monthly_cycle = df.groupby('Month')[['Temperature (C)', 'Humidity']].mean()
monthly_cycle

       Temperature (C)  Humidity
Month
1             0.815678  0.850698
2             2.166880  0.813407
3             6.914976  0.702849
4            12.769200  0.641051
5            16.874455  0.691650
6            20.728510  0.686418
7            22.965462  0.639593
8            22.339134  0.635300
9            17.503458  0.689163
10           11.334119  0.774443
11            6.587549  0.827917
12            1.625086  0.870398

In [55]:
#The weather pattern hourly throughout the day?
hourly_cycle = df.groupby('Hour')[['Temperature (C)', 'Humidity']].mean()
hourly_cycle

      Temperature (C)  Humidity
Hour
0            8.847813  0.847536
1            8.394135  0.855832
2            8.095813  0.862904
3            7.947469  0.871150
4            7.976718  0.869495
5            8.817221  0.843272
6           10.043811  0.806606
7           11.545759  0.750157
8           12.985338  0.700251
9           14.170601  0.656614
10          15.180128  0.618482
11          15.863121  0.593339
12          16.277910  0.575651
13          16.484895  0.569973
14          16.332265  0.574013
15          15.816806  0.590157
16          14.851460  0.629774
17          13.624900  0.676531
18          12.372934  0.725454
19          11.159013  0.771132
20          10.704566  0.785835
21          10.193434  0.805770
22           9.571762  0.821976
23           9.124358  0.835747

In [56]:
#Yearly Variation: How has the average wind speed changed over the years?
Yearly_wind_speed = df[['Wind Speed (km/h)']].resample('Y').mean()
Yearly_wind_speed

C:\Users\Admin\AppData\Local\Temp\ipykernel_14764\3556370488.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  Yearly_wind_speed = df[['Wind Speed (km/h)']].resample('Y').mean()

                           Wind Speed (km/h)
Formatted Date
2005-12-31 00:00:00+00:00          17.114300
2006-12-31 00:00:00+00:00          10.189128
2007-12-31 00:00:00+00:00          10.824162
2008-12-31 00:00:00+00:00          11.304172
2009-12-31 00:00:00+00:00          11.507326
2010-12-31 00:00:00+00:00          11.014343
2011-12-31 00:00:00+00:00           9.898596
2012-12-31 00:00:00+00:00          11.264745
2013-12-31 00:00:00+00:00          10.970036
2014-12-31 00:00:00+00:00          10.501276
2015-12-31 00:00:00+00:00          10.735590
2016-12-31 00:00:00+00:00          10.703967

In [57]:
#Monthly Difference: In which month of the year is the largest gap between the Apparent Temperature (째C) and the Temperature (째C)?
monthly_diff= df.groupby('Month')[['Apparent Temperature (C)', 'Temperature (C)']].max()
monthly_diff['Temp_Gap'] = monthly_diff['Apparent Temperature (C)'] - monthly_diff['Temperature (C)']
monthly_diff.groupby("Month")['Temp_Gap']
monthly_diff

       Apparent Temperature (C)  Temperature (C)  Temp_Gap
Month
1                     15.738889        15.738889  0.000000
2                     19.950000        19.950000  0.000000
3                     22.822222        22.822222  0.000000
4                     29.844444        31.061111 -1.216667
5                     33.361111        33.816667 -0.455556
6                     39.344444        36.133333  3.211111
7                     38.661111        39.905556 -1.244444
8                     38.377778        38.861111 -0.483333
9                     35.472222        37.150000 -1.677778
10                    27.355556        27.777778 -0.422222
11                    22.188889        22.188889  0.000000
12                    16.094444        16.094444  0.000000

# Correlation Analysis
### Question need to be answered
1. How are weather elements related to each other?
2. Correlation between Wind Speed and Visibility
3. Correlation Level of Humidity

In [58]:
numeric_cols = ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 'Visibility (km)', 'Pressure (millibars)']
corr_matrix = df[numeric_cols].corr()
corr_matrix

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
Temperature (C),1.000000,0.992629,-0.632255,0.008957,0.392847,-0.310455
Apparent Temperature (C),0.992629,1.000000,-0.602571,-0.056650,0.381718,-0.288400
Humidity,-0.632255,-0.602571,1.000000,-0.224951,-0.369173,0.039257
Wind Speed (km/h),0.008957,-0.056650,-0.224951,1.000000,0.100749,-0.253700
Visibility (km),0.392847,0.381718,-0.369173,0.100749,1.000000,-0.166326
Pressure (millibars),-0.310455,-0.288400,0.039257,-0.253700,-0.166326,1.000000

In [59]:
#Correlation between Wind Speed and Visibility
corr_between_wind_visibility= df[['Wind Speed (km/h)','Visibility (km)']].corr()
print("Correlation between Wind Speed and Visibility:")
corr_between_wind_visibility

Correlation between Wind Speed and Visibility:

                   Wind Speed (km/h)  Visibility (km)
Wind Speed (km/h)           1.000000         0.100749
Visibility (km)             0.100749         1.000000

In [60]:
#Correlation Level of Humidity
numeric_cols = ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 'Visibility (km)', 'Pressure (millibars)']
corr_df = df[numeric_cols]
full_corr_matrix =corr_df.corr()
humidity_correlations = full_corr_matrix['Humidity']
print("Correlation Level of Humidity:")
print(humidity_correlations.drop('Humidity'))

Correlation Level of Humidity:
Temperature (C)            -0.632255
Apparent Temperature (C)   -0.602571
Wind Speed (km/h)          -0.224951
Visibility (km)            -0.369173
Pressure (millibars)        0.039257
Name: Humidity, dtype: float64

# Categorical Analysis
### Questions need to be answered
1. Most common summaries
2. Comparing between the average temperature of (Summary) Foggy and Clear
3. Comparing between the average temperature of (Precip Type) rain and snow
4. Comparing between the average humidity of (Precip Type) rain snow and none
5. Comparing between the average wind speed of (sumary) Breezy and Mostly Cloudy, Overcast, Mostly Cloudy, Partly Cloudy

In [79]:
# Most common summaries
summary_common = df['Summary'].value_counts()
summary_common

Summary
Partly Cloudy                          31733
Mostly Cloudy                          28094
Overcast                               16597
Clear                                  10890
Foggy                                   7148
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Breezy and Foggy                          35
Windy and Mostly Cloudy                   35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Dangerously Windy and Partly Cloudy        1
Windy and Dry                              1
Breezy and Dry                             1
Name: count, dtype: int64

In [ ]:
# Comparing between the average temperature of (Summary) Foggy and Clear theo th찼ng
foggy = df[df['Summary'] == 'Foggy']
foggy_tem_avg = foggy.groupby('Month')[['Temperature (C)']].mean()

clear = df[df['Summary'] == 'Clear']
clear_tem_avg = clear.groupby('Month')[['Temperature (C)']].mean()

clear_tem_avg

       Temperature (C)
Month
1            -1.990954
2             0.313526
3             4.499989
4            10.715300
5            15.065275
6            20.982746
7            21.770580
8            21.014045
9            15.651935
10            8.812482
11            5.603187
12            0.097123

In [93]:
#Comparing between the average temperature of (Precip Type) rain snow and none
rain = df[df["Precip Type"] == 'rain']
rain_tem_avg = rain.groupby('Month')[['Temperature (C)']].mean()

snow = df[df['Precip Type'] == 'snow']
snow_tem_avg = snow.groupby('Month')[['Temperature (C)']].mean()

none_precip = df[df['Precip Type'] == 'none']
none_tem_avg = none_precip.groupby('Month')[['Temperature (C)']].mean()

rain_tem_avg

       Temperature (C)
Month
1             4.223430
2             5.208673
3             8.065434
4            12.814249
5            16.876281
6            20.728510
7            22.965462
8            22.339134
9            17.503458
10           11.621212
11            7.296156
12            4.332410

In [94]:
#Comparing between the average humidity of (Precip Type) rain snow and none

rain_humid = df[df["Precip Type"] == 'rain']
rain_humid_avg = rain_humid.groupby('Month')[['Humidity']].mean()

snow_humid = df[df['Precip Type'] == 'snow']
snow_humid_avg = snow_humid.groupby('Month')[['Humidity']].mean()

none_precip_humid = df[df['Precip Type'] == 'none']
none_humid_avg = none_precip_humid.groupby('Month')[['Humidity']].mean()

none_humid_avg

       Humidity
Month
4      0.704872
5      0.635077
10     0.766401
11     0.841143

In [96]:
#Comparing between the average wind speed of (sumary) Breezy and Mostly Cloudy, Overcast Partly Cloudy
wind_by_summary = df.groupby('Summary')['Wind Speed (km/h)'].mean().sort_values()
selected = ['Breezy', 'Mostly Cloudy', 'Overcast', 'Partly Cloudy']
wind_selected = wind_by_summary[wind_by_summary.index.isin(selected)]
wind_selected

Summary
Partly Cloudy    10.115130
Mostly Cloudy    11.418404
Overcast         12.027738
Breezy           32.143948
Name: Wind Speed (km/h), dtype: float64

# Extremes Analysis
### Question need to be answered
1. Top ten hottest day
2. Top ten coldest day
3. Top ten windiest day
4. Top ten days have the lowest humidity
5. top ten days have the worst visiblility

In [66]:
# Top ten hottest days
df.sort_values(by='Temperature (C)', ascending=False).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2007-07-22 13:00:00+00:00,Clear,rain,39.905556,37.538889,0.13,23.5865,250.0,9.9820,1007.55,Partly cloudy starting in the afternoon.,13,22,7,2007,6
2007-07-21 15:00:00+00:00,Partly Cloudy,rain,39.588889,37.600000,0.15,12.2038,283.0,10.3523,1010.24,Partly cloudy starting in the morning continui...,15,21,7,2007,5
2007-07-19 14:00:00+00:00,Partly Cloudy,rain,38.983333,37.461111,0.18,8.9355,175.0,9.9820,1013.34,Partly cloudy starting in the afternoon.,14,19,7,2007,3
2007-07-20 13:00:00+00:00,Partly Cloudy,rain,38.983333,36.627778,0.14,12.7190,167.0,9.9820,1012.34,Partly cloudy starting in the afternoon contin...,13,20,7,2007,4
2007-07-20 14:00:00+00:00,Partly Cloudy,rain,38.983333,36.800000,0.15,15.4077,133.0,9.9820,1011.93,Partly cloudy starting in the afternoon contin...,14,20,7,2007,4
2007-07-21 13:00:00+00:00,Partly Cloudy,rain,38.866667,37.950000,0.21,12.7512,269.0,9.9820,1011.00,Partly cloudy starting in the morning continui...,13,21,7,2007,5
2012-08-24 13:00:00+00:00,Partly Cloudy,rain,38.861111,37.327778,0.18,17.3880,232.0,9.9820,1009.89,Partly cloudy starting in the morning continui...,13,24,8,2012,4
2007-07-21 14:00:00+00:00,Partly Cloudy,rain,38.844444,37.994444,0.21,9.2414,222.0,9.9820,1010.50,Partly cloudy starting in the morning continui...,14,21,7,2007,5
2007-07-22 14:00:00+00:00,Partly Cloudy,rain,38.838889,36.705556,0.15,23.7475,249.0,9.9820,1007.26,Partly cloudy starting in the afternoon.,14,22,7,2007,6
2012-08-24 14:00:00+00:00,Partly Cloudy,rain,38.838889,37.261111,0.18,12.9444,250.0,9.9820,1009.38,Partly cloudy starting in the morning continui...,14,24,8,2012,4

In [67]:
# Top ten coldest days
df.sort_values(by='Temperature (C)', ascending=True).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2012-02-10 06:00:00+00:00,Foggy,snow,-21.822222,-21.822222,0.80,3.0751,323.0,1.3685,1033.66,Foggy starting in the morning continuing until...,6,10,2,2012,4
2012-02-09 05:00:00+00:00,Foggy,snow,-21.111111,-21.111111,0.71,3.2200,190.0,1.9320,1032.60,Foggy until morning.,5,9,2,2012,3
2012-02-09 04:00:00+00:00,Foggy,snow,-21.111111,-21.111111,0.78,4.8300,180.0,2.5760,1033.30,Foggy until morning.,4,9,2,2012,3
2012-02-09 01:00:00+00:00,Foggy,snow,-21.111111,-21.111111,0.74,3.2200,200.0,1.9320,1034.30,Foggy until morning.,1,9,2,2012,3
2012-02-09 06:00:00+00:00,Foggy,snow,-20.783333,-20.783333,0.80,4.4275,181.0,1.7871,1032.33,Foggy until morning.,6,9,2,2012,3
2012-02-11 01:00:00+00:00,Foggy,snow,-20.555556,-25.922222,0.78,6.4400,30.0,1.4490,1032.10,Foggy starting overnight continuing until morn...,1,11,2,2012,5
2012-02-09 02:00:00+00:00,Partly Cloudy,snow,-20.555556,-20.555556,0.78,3.2200,200.0,4.0250,1033.80,Foggy until morning.,2,9,2,2012,3
2012-02-09 03:00:00+00:00,Foggy,snow,-20.277778,-25.072222,0.79,5.6672,158.0,1.8032,1033.53,Foggy until morning.,3,9,2,2012,3
2012-02-09 00:00:00+00:00,Foggy,snow,-20.050000,-25.200000,0.78,6.2146,170.0,1.7066,1034.74,Foggy until morning.,0,9,2,2012,3
2012-02-10 07:00:00+00:00,Foggy,snow,-20.000000,-20.000000,0.78,4.8300,350.0,1.4490,1034.20,Foggy starting in the morning continuing until...,7,10,2,2012,4

In [68]:
# Top ten windiest days
df.sort_values(by='Wind Speed (km/h)', ascending=False).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2007-01-29 12:00:00+00:00,Dangerously Windy and Partly Cloudy,rain,8.944444,3.483333,0.49,63.8526,307.0,11.4471,1009.05,Mostly cloudy throughout the day and windy sta...,12,29,1,2007,0
2008-01-27 22:00:00+00:00,Windy and Partly Cloudy,rain,7.772222,2.188889,0.63,55.9314,319.0,15.8746,1014.95,Mostly cloudy throughout the day and windy sta...,22,27,1,2008,6
2014-03-15 16:00:00+00:00,Windy and Overcast,rain,13.783333,13.783333,0.40,54.8849,320.0,6.2951,1007.27,Mostly cloudy starting in the morning and wind...,16,15,3,2014,5
2007-01-29 13:00:00+00:00,Windy and Partly Cloudy,rain,8.838889,3.761111,0.54,53.5969,299.0,11.2056,1009.43,Mostly cloudy throughout the day and windy sta...,13,29,1,2007,0
2007-01-29 10:00:00+00:00,Windy and Partly Cloudy,rain,8.816667,3.744444,0.54,53.2427,299.0,11.2700,1008.79,Mostly cloudy throughout the day and windy sta...,10,29,1,2007,0
2008-01-27 23:00:00+00:00,Windy and Partly Cloudy,rain,6.683333,0.822222,0.69,53.1944,311.0,15.8746,1015.53,Breezy starting overnight continuing until mor...,23,27,1,2008,6
2007-01-29 11:00:00+00:00,Windy and Mostly Cloudy,rain,8.861111,3.805556,0.54,53.1944,299.0,11.2700,1008.71,Mostly cloudy throughout the day and windy sta...,11,29,1,2007,0
2007-01-29 14:00:00+00:00,Windy and Partly Cloudy,rain,7.777778,2.333333,0.58,52.9368,290.0,11.2056,1010.51,Mostly cloudy throughout the day and windy sta...,14,29,1,2007,0
2014-03-17 08:00:00+00:00,Windy and Partly Cloudy,rain,15.994444,15.994444,0.42,51.1497,310.0,16.1000,1015.31,Partly cloudy throughout the day and windy sta...,8,17,3,2014,0
2008-01-27 10:00:00+00:00,Windy and Overcast,rain,7.172222,1.605556,0.70,50.9726,310.0,11.2700,1018.86,Mostly cloudy throughout the day and windy sta...,10,27,1,2008,6

In [69]:
#top ten day have the lowest humidity
df.sort_values(by='Humidity', ascending=True).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2008-02-17 13:00:00+00:00,Partly Cloudy,snow,-1.111111,-1.111111,0.0,4.4275,12.0,9.982,1043.04,Partly cloudy starting in the morning continui...,13,17,2,2008,6
2012-02-09 23:00:00+00:00,Foggy,snow,-15.555556,-15.555556,0.0,3.2200,220.0,3.059,1030.80,Foggy starting in the morning continuing until...,23,9,2,2012,3
2009-12-20 22:00:00+00:00,Clear,snow,-15.555556,-20.150000,0.0,6.4400,160.0,9.982,1015.90,Mostly cloudy starting overnight continuing un...,22,20,12,2009,6
2009-12-20 20:00:00+00:00,Clear,snow,-15.000000,-15.000000,0.0,3.2200,250.0,9.982,1015.10,Mostly cloudy starting overnight continuing un...,20,20,12,2009,6
2012-02-08 07:00:00+00:00,Foggy,snow,-17.777778,-17.777778,0.0,3.2200,190.0,0.805,1035.00,Foggy until morning.,7,8,2,2012,2
2012-02-08 08:00:00+00:00,Foggy,snow,-16.111111,-16.111111,0.0,0.0000,0.0,1.771,1035.70,Foggy until morning.,8,8,2,2012,2
2012-02-11 08:00:00+00:00,Overcast,snow,-13.888889,-20.350000,0.0,11.2700,40.0,9.982,1029.90,Foggy starting overnight continuing until morn...,8,11,2,2012,5
2012-02-09 19:00:00+00:00,Partly Cloudy,snow,-16.111111,-21.661111,0.0,8.0500,180.0,4.025,1029.40,Foggy until morning.,19,9,2,2012,3
2012-02-10 17:00:00+00:00,Foggy,snow,-15.000000,-15.000000,0.0,0.0000,0.0,2.576,1034.40,Foggy starting in the morning continuing until...,17,10,2,2012,4
2012-02-11 05:00:00+00:00,Overcast,snow,-16.111111,-23.027778,0.0,11.2700,20.0,7.084,1029.90,Foggy starting overnight continuing until morn...,5,11,2,2012,5

In [70]:
#top ten days have the worst visiblility
df.sort_values(by='Visibility (km)', ascending=True).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2009-12-03 02:00:00+00:00,Clear,rain,3.333333,0.405556,0.92,11.2700,320.0,0.0,1015.60,Foggy starting in the evening.,2,3,12,2009,3
2016-10-29 01:00:00+00:00,Partly Cloudy,none,6.272222,3.483333,0.90,14.0070,269.0,0.0,1029.55,Mostly cloudy until evening.,1,29,10,2016,5
2016-10-29 02:00:00+00:00,Mostly Cloudy,none,6.450000,3.855556,0.91,13.0571,279.0,0.0,1028.97,Mostly cloudy until evening.,2,29,10,2016,5
2016-10-29 03:00:00+00:00,Mostly Cloudy,rain,6.577778,3.961111,0.92,13.3630,286.0,0.0,1028.52,Mostly cloudy until evening.,3,29,10,2016,5
2016-10-29 04:00:00+00:00,Mostly Cloudy,rain,6.538889,3.811111,0.93,14.0231,285.0,0.0,1028.32,Mostly cloudy until evening.,4,29,10,2016,5
2016-10-29 05:00:00+00:00,Mostly Cloudy,rain,6.550000,3.816667,0.94,14.0231,280.0,0.0,1028.27,Mostly cloudy until evening.,5,29,10,2016,5
2016-10-29 06:00:00+00:00,Mostly Cloudy,rain,6.988889,4.327778,0.92,14.2163,281.0,0.0,1028.22,Mostly cloudy until evening.,6,29,10,2016,5
2016-10-29 07:00:00+00:00,Mostly Cloudy,rain,8.200000,5.683333,0.87,15.1984,287.0,0.0,1028.17,Mostly cloudy until evening.,7,29,10,2016,5
2013-12-23 22:00:00+00:00,Foggy,rain,0.177778,0.177778,1.00,4.6368,6.0,0.0,1026.80,Foggy starting in the evening.,22,23,12,2013,0
2013-12-24 13:00:00+00:00,Clear,rain,11.061111,11.061111,0.50,20.6241,150.0,0.0,NaN,Foggy until morning.,13,24,12,2013,1