In [6]:
import pandas as pd

# Data Exploration

In [7]:
df = pd.read_csv('../data/processed_weather_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               96453 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Pressure (millibars)      95165 non-null  float64
 10  Daily Summary             96453 non-null  object
 11  Hour                      96453 non-null  int64
 12  Day                       96453 non-null  int64
 13  Month                     96453 non-null  int64
 14  Year                      96453 non-null  int64
 15  Weekday                   96453 non-null  int64
dtypes: float64(7), int64(5), object(4)
memory usage: 11.8+ MB

In [8]:
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.,22,31,3,2006,4
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.,23,31,3,2006,4
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,Partly cloudy throughout the day.,0,1,4,2006,5
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,Partly cloudy throughout the day.,1,1,4,2006,5
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,Partly cloudy throughout the day.,2,1,4,2006,5

In [9]:
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Hour,Day,Month,Year,Weekday
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,95165.000000,96453.000000,96453.000000,96453.000000,96453.00000,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,1016.814140,11.499891,15.727100,6.523001,2011.00029,2.999347
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,7.778356,6.922049,8.802216,3.448501,3.16216,2.000282
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,973.780000,0.000000,1.000000,1.000000,2005.00000,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,1012.120000,6.000000,8.000000,4.000000,2008.00000,1.000000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,1016.550000,11.000000,16.000000,7.000000,2011.00000,3.000000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,1021.160000,17.000000,23.000000,10.000000,2014.00000,5.000000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,1046.380000,23.000000,31.000000,12.000000,2016.00000,6.000000