In [81]:
import pandas as pd
import numpy as np

# Set up

In [82]:
weather_data = pd.read_csv('../data/weatherHistory.csv')
weather_data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [83]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [84]:
def create_features(df):
    df = df.copy()
    df['Formatted Date'] = pd.to_datetime(df['Formatted Date'], utc=True)
    df['Hour'] = df['Formatted Date'].dt.hour
    df['Day'] = df['Formatted Date'].dt.day
    df['Month'] = df['Formatted Date'].dt.month
    df['Year'] = df['Formatted Date'].dt.year
    df['Weekday'] = df['Formatted Date'].dt.weekday
    return df

processed_weather_data = create_features(weather_data)
processed_weather_data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,22,31,3,2006,4
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,23,31,3,2006,4
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,0,1,4,2006,5
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,1,1,4,2006,5
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,2,1,4,2006,5

In [85]:
processed_weather_data['Pressure (millibars)'].replace(0, np.nan, inplace=True)
processed_weather_data[processed_weather_data['Pressure (millibars)'].isna()]

/var/folders/xp/v8w4s0y91yl3spywrcbxpg3c0000gn/T/ipykernel_12683/189727763.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  processed_weather_data['Pressure (millibars)'].replace(0, np.nan, inplace=True)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
858,2006-08-14 16:00:00+00:00,Partly Cloudy,rain,22.477778,22.477778,0.58,10.8192,159.0,11.1251,0.0,NaN,Mostly cloudy until night.,16,14,8,2006,0
874,2006-08-15 08:00:00+00:00,Partly Cloudy,rain,21.061111,21.061111,0.73,7.7924,264.0,11.2056,0.0,NaN,Partly cloudy until evening.,8,15,8,2006,1
924,2006-08-17 10:00:00+00:00,Clear,rain,28.838889,29.611111,0.51,9.6600,177.0,9.9820,0.0,NaN,Partly cloudy until morning.,10,17,8,2006,3
945,2006-08-18 07:00:00+00:00,Clear,rain,24.950000,24.950000,0.69,16.0195,180.0,9.9015,0.0,NaN,Partly cloudy starting overnight continuing un...,7,18,8,2006,4
1074,2006-08-22 16:00:00+00:00,Partly Cloudy,rain,23.811111,23.811111,0.45,16.0195,290.0,11.2056,0.0,NaN,Partly cloudy starting in the morning.,16,22,8,2006,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93147,2016-03-23 05:00:00+00:00,Clear,rain,2.750000,-0.322222,0.82,11.3988,39.0,6.1180,0.0,NaN,Overcast starting in the afternoon.,5,23,3,2016,2
93149,2016-03-23 07:00:00+00:00,Clear,rain,3.838889,1.716667,0.82,8.2593,58.0,6.1180,0.0,NaN,Overcast starting in the afternoon.,7,23,3,2016,2
93150,2016-03-23 08:00:00+00:00,Clear,rain,5.000000,4.005556,0.92,5.2486,84.0,4.9910,0.0,NaN,Overcast starting in the afternoon.,8,23,3,2016,2
93152,2016-03-23 10:00:00+00:00,Clear,rain,5.050000,2.472222,0.92,11.2700,10.0,4.9910,0.0,NaN,Overcast starting in the afternoon.,10,23,3,2016,2
93153,2016-03-23 11:00:00+00:00,Clear,rain,5.100000,1.800000,0.92,15.6009,51.0,7.2128,0.0,NaN,Overcast starting in the afternoon.,11,23,3,2016,2

In [86]:
processed_weather_data['Precip Type'].fillna('none', inplace=True)
processed_weather_data[processed_weather_data['Precip Type'] == 'none']

/var/folders/xp/v8w4s0y91yl3spywrcbxpg3c0000gn/T/ipykernel_12683/2117325445.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  processed_weather_data['Precip Type'].fillna('none', inplace=True)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
52672,2012-04-11 14:00:00+00:00,Mostly Cloudy,none,19.016667,19.016667,0.26,14.8764,163.0,9.982,0.0,1002.40,Mostly cloudy until night.,14,11,4,2012,2
52674,2012-04-11 16:00:00+00:00,Mostly Cloudy,none,17.850000,17.850000,0.28,13.7977,169.0,9.982,0.0,1001.79,Mostly cloudy until night.,16,11,4,2012,2
52675,2012-04-11 17:00:00+00:00,Mostly Cloudy,none,16.322222,16.322222,0.32,10.8192,151.0,9.982,0.0,1001.60,Mostly cloudy until night.,17,11,4,2012,2
52677,2012-04-11 19:00:00+00:00,Mostly Cloudy,none,12.566667,12.566667,0.43,9.0160,159.0,9.982,0.0,1001.92,Mostly cloudy until night.,19,11,4,2012,2
52678,2012-04-11 20:00:00+00:00,Mostly Cloudy,none,12.927778,12.927778,0.47,17.6295,197.0,16.100,0.0,1002.20,Mostly cloudy until night.,20,11,4,2012,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95584,2016-10-31 18:00:00+00:00,Mostly Cloudy,none,8.322222,7.044444,0.85,8.0339,290.0,0.000,0.0,1021.73,Mostly cloudy starting in the afternoon.,18,31,10,2016,0
95585,2016-10-31 19:00:00+00:00,Mostly Cloudy,none,7.627778,6.183333,0.87,8.2271,293.0,0.000,0.0,1021.76,Mostly cloudy starting in the afternoon.,19,31,10,2016,0
95586,2016-10-31 20:00:00+00:00,Mostly Cloudy,none,7.111111,5.511111,0.89,8.5008,297.0,0.000,0.0,1021.81,Mostly cloudy starting in the afternoon.,20,31,10,2016,0
95587,2016-10-31 21:00:00+00:00,Partly Cloudy,none,6.672222,4.961111,0.90,8.6457,299.0,0.000,0.0,1021.83,Mostly cloudy starting in the afternoon.,21,31,10,2016,0
95588,2016-10-31 22:00:00+00:00,Mostly Cloudy,none,6.322222,4.588889,0.91,8.4686,299.0,0.000,0.0,1021.80,Mostly cloudy starting in the afternoon.,22,31,10,2016,0

In [88]:
processed_weather_data.query('`Loud Cover` == 0')

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.,22,31,3,2006,4
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.,23,31,3,2006,4
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.,0,1,4,2006,5
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.,1,1,4,2006,5
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.,2,1,4,2006,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 17:00:00+00:00,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.,17,9,9,2016,4
96449,2016-09-09 18:00:00+00:00,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.,18,9,9,2016,4
96450,2016-09-09 19:00:00+00:00,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.,19,9,9,2016,4
96451,2016-09-09 20:00:00+00:00,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.,20,9,9,2016,4
96452,2016-09-09 21:00:00+00:00,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.,21,9,9,2016,4

In [90]:
processed_weather_data.drop('Loud Cover', axis=1, inplace=True)
processed_weather_data

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.,22,31,3,2006,4
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.,23,31,3,2006,4
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,Partly cloudy throughout the day.,0,1,4,2006,5
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,Partly cloudy throughout the day.,1,1,4,2006,5
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,Partly cloudy throughout the day.,2,1,4,2006,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 17:00:00+00:00,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,1014.36,Partly cloudy starting in the morning.,17,9,9,2016,4
96449,2016-09-09 18:00:00+00:00,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,1015.16,Partly cloudy starting in the morning.,18,9,9,2016,4
96450,2016-09-09 19:00:00+00:00,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,1015.66,Partly cloudy starting in the morning.,19,9,9,2016,4
96451,2016-09-09 20:00:00+00:00,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,1015.95,Partly cloudy starting in the morning.,20,9,9,2016,4
96452,2016-09-09 21:00:00+00:00,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,1016.16,Partly cloudy starting in the morning.,21,9,9,2016,4

# Data Export

In [91]:
processed_weather_data.to_csv('../data/processed_weather_data.csv', index=False)