In [1]:
import pandas as pd

# Data Exploration

In [2]:
df = pd.read_csv('../data/processed_weather_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               96453 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Pressure (millibars)      95165 non-null  float64
 10  Daily Summary             96453 non-null  object
 11  Hour                      96453 non-null  int64
 12  Day                       96453 non-null  int64
 13  Month                     96453 non-null  int64
 14  Year                      96453 non-null  int64
 15  Weekday                   96453 non-null  int64
dtypes: float64(7), int64(5), object(4)
memory usage: 11.8+ MB

In [3]:
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
0,2006-03-31 22:00:00+00:00,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,1015.13,Partly cloudy throughout the day.,22,31,3,2006,4
1,2006-03-31 23:00:00+00:00,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,1015.63,Partly cloudy throughout the day.,23,31,3,2006,4
2,2006-04-01 00:00:00+00:00,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,1015.94,Partly cloudy throughout the day.,0,1,4,2006,5
3,2006-04-01 01:00:00+00:00,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,1016.41,Partly cloudy throughout the day.,1,1,4,2006,5
4,2006-04-01 02:00:00+00:00,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,1016.51,Partly cloudy throughout the day.,2,1,4,2006,5

In [4]:
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Hour,Day,Month,Year,Weekday
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,95165.000000,96453.000000,96453.000000,96453.000000,96453.00000,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,1016.814140,11.499891,15.727100,6.523001,2011.00029,2.999347
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,7.778356,6.922049,8.802216,3.448501,3.16216,2.000282
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,973.780000,0.000000,1.000000,1.000000,2005.00000,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,1012.120000,6.000000,8.000000,4.000000,2008.00000,1.000000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,1016.550000,11.000000,16.000000,7.000000,2011.00000,3.000000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,1021.160000,17.000000,23.000000,10.000000,2014.00000,5.000000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,1046.380000,23.000000,31.000000,12.000000,2016.00000,6.000000

# Set up

In [5]:
df['Formatted Date'] = pd.to_datetime(df['Formatted Date'], utc=True)
df.set_index('Formatted Date', inplace=True)

# Analyzing Data through time
### Questions need to be answered
1. The temperature and humidity throughout the years
2. The weather pattern monthly throughout the year?
3. The weather pattern hourly throughout the day?
4. Yearly Variation: How has the average wind speed changed over the years?
5. Monthly Difference: In which month of the year is the largest gap between the Apparent Temperature (째C) and the Temperature (째C)?
6. What is the trend of average Pressure change over the years?
7. How has the average Visibility changed over the years?
8. What is the pattern of average Wind Speed change by hour of the day?
9. What is the pattern of average Visibility by hour of the day (e.g., does fog often appear in the early morning)?
10. What is the hourly pattern of the difference between Apparent Temperature and Temperature throughout the day?
11. What is the pattern of average Pressure by month of the year?
12. Is there any difference in average temperature across the days of the week (Weekday)?
13. How has the frequency of 'Snow' (in the Precip Type column) changed over the years?
14. In which month of the year is the average Visibility the lowest?
15. How does the average daily temperature range (Max Temp - Min Temp) change across the months?

In [6]:
#The temperature and humidity throughout the years
yearly_avg = df[['Temperature (C)', 'Humidity']].resample('Y').mean()
yearly_avg

C:\Users\LEGION\AppData\Local\Temp\ipykernel_356\841904822.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_avg = df[['Temperature (C)', 'Humidity']].resample('Y').mean()

                           Temperature (C)  Humidity
Formatted Date
2005-12-31 00:00:00+00:00         0.577778  0.890000
2006-12-31 00:00:00+00:00        11.215225  0.767349
2007-12-31 00:00:00+00:00        12.134677  0.689647
2008-12-31 00:00:00+00:00        12.161819  0.701239
2009-12-31 00:00:00+00:00        12.269682  0.707247
2010-12-31 00:00:00+00:00        11.200176  0.796861
2011-12-31 00:00:00+00:00        11.524934  0.736008
2012-12-31 00:00:00+00:00        11.986824  0.689513
2013-12-31 00:00:00+00:00        11.941017  0.754197
2014-12-31 00:00:00+00:00        12.528228  0.748571
2015-12-31 00:00:00+00:00        12.312088  0.732354
2016-12-31 00:00:00+00:00        11.987381  0.760868

In [7]:
# The weather pattern monthly throughout the year?
monthly_cycle = df.groupby('Month')[['Temperature (C)', 'Humidity']].mean()
monthly_cycle

       Temperature (C)  Humidity
Month
1             0.815678  0.850698
2             2.166880  0.813407
3             6.914976  0.702849
4            12.769200  0.641051
5            16.874455  0.691650
6            20.728510  0.686418
7            22.965462  0.639593
8            22.339134  0.635300
9            17.503458  0.689163
10           11.334119  0.774443
11            6.587549  0.827917
12            1.625086  0.870398

In [8]:
#The weather pattern hourly throughout the day?
hourly_cycle = df.groupby('Hour')[['Temperature (C)', 'Humidity']].mean()
hourly_cycle

      Temperature (C)  Humidity
Hour
0            8.847813  0.847536
1            8.394135  0.855832
2            8.095813  0.862904
3            7.947469  0.871150
4            7.976718  0.869495
5            8.817221  0.843272
6           10.043811  0.806606
7           11.545759  0.750157
8           12.985338  0.700251
9           14.170601  0.656614
10          15.180128  0.618482
11          15.863121  0.593339
12          16.277910  0.575651
13          16.484895  0.569973
14          16.332265  0.574013
15          15.816806  0.590157
16          14.851460  0.629774
17          13.624900  0.676531
18          12.372934  0.725454
19          11.159013  0.771132
20          10.704566  0.785835
21          10.193434  0.805770
22           9.571762  0.821976
23           9.124358  0.835747

In [9]:
#Yearly Variation: How has the average wind speed changed over the years?
Yearly_wind_speed = df[['Wind Speed (km/h)']].resample('Y').mean()
Yearly_wind_speed

C:\Users\LEGION\AppData\Local\Temp\ipykernel_356\3556370488.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  Yearly_wind_speed = df[['Wind Speed (km/h)']].resample('Y').mean()

                           Wind Speed (km/h)
Formatted Date
2005-12-31 00:00:00+00:00          17.114300
2006-12-31 00:00:00+00:00          10.189128
2007-12-31 00:00:00+00:00          10.824162
2008-12-31 00:00:00+00:00          11.304172
2009-12-31 00:00:00+00:00          11.507326
2010-12-31 00:00:00+00:00          11.014343
2011-12-31 00:00:00+00:00           9.898596
2012-12-31 00:00:00+00:00          11.264745
2013-12-31 00:00:00+00:00          10.970036
2014-12-31 00:00:00+00:00          10.501276
2015-12-31 00:00:00+00:00          10.735590
2016-12-31 00:00:00+00:00          10.703967

In [10]:
#Monthly Difference: In which month of the year is the largest gap between the Apparent Temperature (째C) and the Temperature (째C)?
monthly_diff= df.groupby('Month')[['Apparent Temperature (C)', 'Temperature (C)']].max()
monthly_diff['Temp_Gap'] = monthly_diff['Apparent Temperature (C)'] - monthly_diff['Temperature (C)']
monthly_diff.groupby("Month")['Temp_Gap']
monthly_diff

       Apparent Temperature (C)  Temperature (C)  Temp_Gap
Month
1                     15.738889        15.738889  0.000000
2                     19.950000        19.950000  0.000000
3                     22.822222        22.822222  0.000000
4                     29.844444        31.061111 -1.216667
5                     33.361111        33.816667 -0.455556
6                     39.344444        36.133333  3.211111
7                     38.661111        39.905556 -1.244444
8                     38.377778        38.861111 -0.483333
9                     35.472222        37.150000 -1.677778
10                    27.355556        27.777778 -0.422222
11                    22.188889        22.188889  0.000000
12                    16.094444        16.094444  0.000000

In [11]:
#What is the trend of average Pressure change over the years?
Yearly_pressure = df[['Pressure (millibars)']].resample('Y').mean()
Yearly_pressure

C:\Users\LEGION\AppData\Local\Temp\ipykernel_356\1309313027.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  Yearly_pressure = df[['Pressure (millibars)']].resample('Y').mean()

                           Pressure (millibars)
Formatted Date
2005-12-31 00:00:00+00:00           1016.660000
2006-12-31 00:00:00+00:00           1018.591666
2007-12-31 00:00:00+00:00           1017.199310
2008-12-31 00:00:00+00:00           1017.230492
2009-12-31 00:00:00+00:00           1015.589764
2010-12-31 00:00:00+00:00           1014.167393
2011-12-31 00:00:00+00:00           1018.952576
2012-12-31 00:00:00+00:00           1016.703138
2013-12-31 00:00:00+00:00           1015.851992
2014-12-31 00:00:00+00:00           1015.694397
2015-12-31 00:00:00+00:00           1018.670163
2016-12-31 00:00:00+00:00           1016.317384

In [12]:
#How has the average Visibility changed over the years?
Yearly_visibility = df[['Visibility (km)']].resample('Y').mean()
Yearly_visibility

C:\Users\LEGION\AppData\Local\Temp\ipykernel_356\3226448263.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  Yearly_visibility = df[['Visibility (km)']].resample('Y').mean()

                           Visibility (km)
Formatted Date
2005-12-31 00:00:00+00:00         9.982000
2006-12-31 00:00:00+00:00         9.757280
2007-12-31 00:00:00+00:00        10.408192
2008-12-31 00:00:00+00:00        10.266882
2009-12-31 00:00:00+00:00        10.002187
2010-12-31 00:00:00+00:00         9.140282
2011-12-31 00:00:00+00:00         9.508237
2012-12-31 00:00:00+00:00        10.362670
2013-12-31 00:00:00+00:00        10.892672
2014-12-31 00:00:00+00:00        11.320400
2015-12-31 00:00:00+00:00        10.914116
2016-12-31 00:00:00+00:00        11.249147

In [13]:
#What is the pattern of average Wind Speed change by hour of the day?
hourly_wind_speed = df.groupby('Hour')[['Wind Speed (km/h)']].mean()
hourly_wind_speed

      Wind Speed (km/h)
Hour
0              8.672058
1              9.040268
2              9.064272
3              8.983359
4              9.288194
5              9.666790
6             10.291101
7             11.613853
8             12.535434
9             12.828932
10            13.568979
11            13.786611
12            13.371088
13            13.655949
14            13.215592
15            11.986660
16            11.404232
17            10.363929
18             9.414638
19             9.547765
20             9.449715
21             9.240551
22             9.291667
23             9.172408

In [14]:
#What is the pattern of average Visibility by hour of the day (e.g., does fog often appear in the early morning)?
hourly_visibility = df.groupby('Hour')[['Visibility (km)']].mean()
hourly_visibility

      Visibility (km)
Hour
0           11.193431
1           11.318256
2           11.119287
3           10.576887
4            8.738102
5            8.592204
6            8.754935
7            9.142749
8            9.451681
9            9.818897
10          10.001729
11          10.134591
12          10.395985
13          10.315357
14          10.319928
15          10.286842
16          10.018855
17          10.006829
18           9.984560
19           9.875802
20          12.468114
21          11.910198
22          12.047616
23          11.863973

In [15]:
#What is the hourly pattern of the difference between Apparent Temperature and Temperature throughout the day?
hourly_temp_diff = df.groupby('Hour')[['Apparent Temperature (C)', 'Temperature (C)']].mean()
hourly_temp_diff['Temp_Diff'] = hourly_temp_diff['Apparent Temperature (C)'] - hourly_temp_diff['Temperature (C)']
hourly_temp_diff[['Temp_Diff']]

      Temp_Diff
Hour
0     -1.129655
1     -1.224363
2     -1.258768
3     -1.277424
4     -1.332205
5     -1.279981
6     -1.210308
7     -1.176241
8     -1.117763
9     -1.040639
10    -0.975870
11    -0.956598
12    -0.921097
13    -0.913551
14    -0.931021
15    -0.917532
16    -0.898724
17    -0.915452
18    -0.929622
19    -1.032128
20    -1.060220
21    -1.067578
22    -1.132047
23    -1.164851

In [16]:
#What is the pattern of average Pressure by month of the year?
monthly_pressure = df.groupby('Month')[['Pressure (millibars)']].mean()
monthly_pressure

       Pressure (millibars)
Month
1               1019.575449
2               1017.281719
3               1015.965289
4               1014.607004
5               1014.032739
6               1014.314301
7               1014.390547
8               1014.948834
9               1017.015221
10              1019.543742
11              1018.593422
12              1021.607478

In [17]:
#Is there any difference in average temperature across the days of the week (Weekday)?
weekday_temp = df.groupby('Weekday')[['Temperature (C)']].mean()
weekday_temp

         Temperature (C)
Weekday
0              11.970654
1              11.850974
2              11.867186
3              11.925011
4              12.013984
5              11.977164
6              11.923718

In [18]:
#How has the frequency of 'Snow' (in the Precip Type column) changed over the years?
snow_frequency = df[df['Precip Type'] == 'snow'].resample('Y').size()
snow_frequency

C:\Users\LEGION\AppData\Local\Temp\ipykernel_356\460594716.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  snow_frequency = df[df['Precip Type'] == 'snow'].resample('Y').size()

Formatted Date
2006-12-31 00:00:00+00:00    1292
2007-12-31 00:00:00+00:00     745
2008-12-31 00:00:00+00:00     799
2009-12-31 00:00:00+00:00    1018
2010-12-31 00:00:00+00:00    1330
2011-12-31 00:00:00+00:00    1398
2012-12-31 00:00:00+00:00    1299
2013-12-31 00:00:00+00:00    1025
2014-12-31 00:00:00+00:00     485
2015-12-31 00:00:00+00:00     628
2016-12-31 00:00:00+00:00     693
Freq: YE-DEC, dtype: int64

In [19]:
#In which month of the year is the average Visibility the lowest?
monthly_visibility = df.groupby('Month')[['Visibility (km)']].mean()
monthly_visibility

       Visibility (km)
Month
1             7.835825
2             8.730536
3            10.922231
4            11.784991
5            11.889730
6            11.994000
7            12.188605
8            12.454307
9            11.598414
10            9.729957
11            8.191922
12            6.769961

In [ ]:
#How does the average daily temperature range (Max Temp - Min Temp) change across the months?
daily_temp_range = df.resample('D')[['Temperature (C)']].agg(['max', 'min'])
daily_temp_range['Temp_Range'] = daily_temp_range['Temperature (C)']['max'] - daily_temp_range['Temperature (C)']['min']
monthly_temp_range = daily_temp_range[['Temp_Range']].resample('M').mean()
monthly_temp_range

C:\Users\LEGION\AppData\Local\Temp\ipykernel_356\45248109.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_temp_range = daily_temp_range[['Temp_Range']].resample('M').mean()

                          Temp_Range

Formatted Date
2005-12-31 00:00:00+00:00   0.000000
2006-01-31 00:00:00+00:00   5.501434
2006-02-28 00:00:00+00:00   5.857540
2006-03-31 00:00:00+00:00   8.166129
2006-04-30 00:00:00+00:00  10.535370
...                              ...
2016-08-31 00:00:00+00:00  12.607168
2016-09-30 00:00:00+00:00  13.409074
2016-10-31 00:00:00+00:00   8.180466
2016-11-30 00:00:00+00:00   6.118333
2016-12-31 00:00:00+00:00   5.108602

[133 rows x 1 columns]

# Correlation Analysis
### Question need to be answered
1. How are weather elements related to each other?
2. Correlation between Wind Speed and Visibility
3. Correlation Level of Humidity

In [ ]:
numeric_cols = ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 'Visibility (km)', 'Pressure (millibars)']
corr_matrix = df[numeric_cols].corr()
corr_matrix

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Visibility (km),Pressure (millibars)
Temperature (C),1.000000,0.992629,-0.632255,0.008957,0.392847,-0.310455
Apparent Temperature (C),0.992629,1.000000,-0.602571,-0.056650,0.381718,-0.288400
Humidity,-0.632255,-0.602571,1.000000,-0.224951,-0.369173,0.039257
Wind Speed (km/h),0.008957,-0.056650,-0.224951,1.000000,0.100749,-0.253700
Visibility (km),0.392847,0.381718,-0.369173,0.100749,1.000000,-0.166326
Pressure (millibars),-0.310455,-0.288400,0.039257,-0.253700,-0.166326,1.000000

In [ ]:
#Correlation between Wind Speed and Visibility
corr_between_wind_visibility= df[['Wind Speed (km/h)','Visibility (km)']].corr()
print("Correlation between Wind Speed and Visibility:")
corr_between_wind_visibility

Correlation between Wind Speed and Visibility:

                   Wind Speed (km/h)  Visibility (km)
Wind Speed (km/h)           1.000000         0.100749
Visibility (km)             0.100749         1.000000

In [ ]:
#Correlation Level of Humidity
numeric_cols = ['Temperature (C)', 'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)', 'Visibility (km)', 'Pressure (millibars)']
corr_df = df[numeric_cols]
full_corr_matrix =corr_df.corr()
humidity_correlations = full_corr_matrix['Humidity']
print("Correlation Level of Humidity:")
print(humidity_correlations.drop('Humidity'))

Correlation Level of Humidity:
Temperature (C)            -0.632255
Apparent Temperature (C)   -0.602571
Wind Speed (km/h)          -0.224951
Visibility (km)            -0.369173
Pressure (millibars)        0.039257
Name: Humidity, dtype: float64

# Categorical Analysis
### Questions need to be answered
1. Most common summaries
2. Comparing between the average temperature of (Summary) Foggy and Clear
3. Comparing between the average temperature of (Precip Type) rain and snow
4. Comparing between the average humidity of (Precip Type) rain snow and none
5. Comparing between the average wind speed of (sumary) Breezy and Mostly Cloudy, Overcast, Mostly Cloudy, Partly Cloudy

In [ ]:
# Most common summaries
df['Summary'].value_counts().head(10)

Summary
Partly Cloudy               31733
Mostly Cloudy               28094
Overcast                    16597
Clear                       10890
Foggy                        7148
Breezy and Overcast           528
Breezy and Mostly Cloudy      516
Breezy and Partly Cloudy      386
Dry and Partly Cloudy          86
Windy and Partly Cloudy        67
Name: count, dtype: int64

In [ ]:
# Comparing between the average temperature of (Summary) Foggy and Clear
temp_by_summary = df.groupby('Summary')['Temperature (C)'].mean().sort_values()
temp_by_summary[['Foggy', 'Clear']]

Summary
Foggy     1.464035
Clear    11.925109
Name: Temperature (C), dtype: float64

In [ ]:
#Comparing between the average temperature of (Precip Type) rain snow and none
temp_by_preciptype=df.groupby('Precip Type')['Temperature (C)'].mean().sort_values()
temp_by_preciptype[['rain', 'snow','none']]

Precip Type
rain    13.852989
snow    -3.270885
none    10.393015
Name: Temperature (C), dtype: float64

In [ ]:
#Comparing between the average humidity of (Precip Type) rain snow and none
humidity_by_preciptype=df.groupby('Precip Type')['Humidity'].mean().sort_values()
humidity_by_preciptype[['rain', 'snow','none']]

Precip Type
rain    0.718699
snow    0.863263
none    0.745667
Name: Humidity, dtype: float64

In [ ]:
#Comparing between the average wind speed of (sumary) Breezy and Mostly Cloudy, Overcast, Mostly Cloudy, Partly Cloudy
wind_by_summary = df.groupby('Summary')['Wind Speed (km/h)'].mean().sort_values()
wind_by_summary[['Breezy', 'Mostly Cloudy', 'Overcast', 'Partly Cloudy','Breezy and Mostly Cloudy']]

Summary
Breezy                      32.143948
Mostly Cloudy               11.418404
Overcast                    12.027738
Partly Cloudy               10.115130
Breezy and Mostly Cloudy    33.386345
Name: Wind Speed (km/h), dtype: float64

# Extremes Analysis
### Question need to be answered
1. Top ten hottest day
2. Top ten coldest day
3. Top ten windiest day
4. Top ten days have the lowest humidity
5. top ten days have the worst visiblility

In [ ]:
# Top ten hottest days
df.sort_values(by='Temperature (C)', ascending=False).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2007-07-22 13:00:00+00:00,Clear,rain,39.905556,37.538889,0.13,23.5865,250.0,9.9820,1007.55,Partly cloudy starting in the afternoon.,13,22,7,2007,6
2007-07-21 15:00:00+00:00,Partly Cloudy,rain,39.588889,37.600000,0.15,12.2038,283.0,10.3523,1010.24,Partly cloudy starting in the morning continui...,15,21,7,2007,5
2007-07-20 14:00:00+00:00,Partly Cloudy,rain,38.983333,36.800000,0.15,15.4077,133.0,9.9820,1011.93,Partly cloudy starting in the afternoon contin...,14,20,7,2007,4
2007-07-19 14:00:00+00:00,Partly Cloudy,rain,38.983333,37.461111,0.18,8.9355,175.0,9.9820,1013.34,Partly cloudy starting in the afternoon.,14,19,7,2007,3
2007-07-20 13:00:00+00:00,Partly Cloudy,rain,38.983333,36.627778,0.14,12.7190,167.0,9.9820,1012.34,Partly cloudy starting in the afternoon contin...,13,20,7,2007,4
2007-07-21 13:00:00+00:00,Partly Cloudy,rain,38.866667,37.950000,0.21,12.7512,269.0,9.9820,1011.00,Partly cloudy starting in the morning continui...,13,21,7,2007,5
2012-08-24 13:00:00+00:00,Partly Cloudy,rain,38.861111,37.327778,0.18,17.3880,232.0,9.9820,1009.89,Partly cloudy starting in the morning continui...,13,24,8,2012,4
2007-07-21 14:00:00+00:00,Partly Cloudy,rain,38.844444,37.994444,0.21,9.2414,222.0,9.9820,1010.50,Partly cloudy starting in the morning continui...,14,21,7,2007,5
2007-07-22 14:00:00+00:00,Partly Cloudy,rain,38.838889,36.705556,0.15,23.7475,249.0,9.9820,1007.26,Partly cloudy starting in the afternoon.,14,22,7,2007,6
2012-08-24 14:00:00+00:00,Partly Cloudy,rain,38.838889,37.261111,0.18,12.9444,250.0,9.9820,1009.38,Partly cloudy starting in the morning continui...,14,24,8,2012,4

In [ ]:
# Top ten coldest days
df.sort_values(by='Temperature (C)', ascending=True).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2012-02-10 06:00:00+00:00,Foggy,snow,-21.822222,-21.822222,0.80,3.0751,323.0,1.3685,1033.66,Foggy starting in the morning continuing until...,6,10,2,2012,4
2012-02-09 01:00:00+00:00,Foggy,snow,-21.111111,-21.111111,0.74,3.2200,200.0,1.9320,1034.30,Foggy until morning.,1,9,2,2012,3
2012-02-09 05:00:00+00:00,Foggy,snow,-21.111111,-21.111111,0.71,3.2200,190.0,1.9320,1032.60,Foggy until morning.,5,9,2,2012,3
2012-02-09 04:00:00+00:00,Foggy,snow,-21.111111,-21.111111,0.78,4.8300,180.0,2.5760,1033.30,Foggy until morning.,4,9,2,2012,3
2012-02-09 06:00:00+00:00,Foggy,snow,-20.783333,-20.783333,0.80,4.4275,181.0,1.7871,1032.33,Foggy until morning.,6,9,2,2012,3
2012-02-09 02:00:00+00:00,Partly Cloudy,snow,-20.555556,-20.555556,0.78,3.2200,200.0,4.0250,1033.80,Foggy until morning.,2,9,2,2012,3
2012-02-11 01:00:00+00:00,Foggy,snow,-20.555556,-25.922222,0.78,6.4400,30.0,1.4490,1032.10,Foggy starting overnight continuing until morn...,1,11,2,2012,5
2012-02-09 03:00:00+00:00,Foggy,snow,-20.277778,-25.072222,0.79,5.6672,158.0,1.8032,1033.53,Foggy until morning.,3,9,2,2012,3
2012-02-09 00:00:00+00:00,Foggy,snow,-20.050000,-25.200000,0.78,6.2146,170.0,1.7066,1034.74,Foggy until morning.,0,9,2,2012,3
2012-02-10 23:00:00+00:00,Clear,snow,-20.000000,-27.716667,0.78,11.2700,20.0,0.0000,1033.30,Foggy starting overnight continuing until morn...,23,10,2,2012,4

In [ ]:
# Top ten windiest days
df.sort_values(by='Wind Speed (km/h)', ascending=False).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2007-01-29 12:00:00+00:00,Dangerously Windy and Partly Cloudy,rain,8.944444,3.483333,0.49,63.8526,307.0,11.4471,1009.05,Mostly cloudy throughout the day and windy sta...,12,29,1,2007,0
2008-01-27 22:00:00+00:00,Windy and Partly Cloudy,rain,7.772222,2.188889,0.63,55.9314,319.0,15.8746,1014.95,Mostly cloudy throughout the day and windy sta...,22,27,1,2008,6
2014-03-15 16:00:00+00:00,Windy and Overcast,rain,13.783333,13.783333,0.40,54.8849,320.0,6.2951,1007.27,Mostly cloudy starting in the morning and wind...,16,15,3,2014,5
2007-01-29 13:00:00+00:00,Windy and Partly Cloudy,rain,8.838889,3.761111,0.54,53.5969,299.0,11.2056,1009.43,Mostly cloudy throughout the day and windy sta...,13,29,1,2007,0
2007-01-29 10:00:00+00:00,Windy and Partly Cloudy,rain,8.816667,3.744444,0.54,53.2427,299.0,11.2700,1008.79,Mostly cloudy throughout the day and windy sta...,10,29,1,2007,0
2008-01-27 23:00:00+00:00,Windy and Partly Cloudy,rain,6.683333,0.822222,0.69,53.1944,311.0,15.8746,1015.53,Breezy starting overnight continuing until mor...,23,27,1,2008,6
2007-01-29 11:00:00+00:00,Windy and Mostly Cloudy,rain,8.861111,3.805556,0.54,53.1944,299.0,11.2700,1008.71,Mostly cloudy throughout the day and windy sta...,11,29,1,2007,0
2007-01-29 14:00:00+00:00,Windy and Partly Cloudy,rain,7.777778,2.333333,0.58,52.9368,290.0,11.2056,1010.51,Mostly cloudy throughout the day and windy sta...,14,29,1,2007,0
2014-03-17 08:00:00+00:00,Windy and Partly Cloudy,rain,15.994444,15.994444,0.42,51.1497,310.0,16.1000,1015.31,Partly cloudy throughout the day and windy sta...,8,17,3,2014,0
2008-01-27 10:00:00+00:00,Windy and Overcast,rain,7.172222,1.605556,0.70,50.9726,310.0,11.2700,1018.86,Mostly cloudy throughout the day and windy sta...,10,27,1,2008,6

In [ ]:
#top ten day have the lowest humidity
df.sort_values(by='Humidity', ascending=True).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2012-02-09 23:00:00+00:00,Foggy,snow,-15.555556,-15.555556,0.0,3.22,220.0,3.059,1030.8,Foggy starting in the morning continuing until...,23,9,2,2012,3
2012-02-02 05:00:00+00:00,Partly Cloudy,snow,-12.777778,-19.011111,0.0,11.27,20.0,9.982,1027.6,Mostly cloudy throughout the day.,5,2,2,2012,3
2012-02-08 07:00:00+00:00,Foggy,snow,-17.777778,-17.777778,0.0,3.22,190.0,0.805,1035.0,Foggy until morning.,7,8,2,2012,2
2012-02-08 04:00:00+00:00,Foggy,snow,-17.777778,-17.777778,0.0,4.83,200.0,1.932,1033.9,Foggy until morning.,4,8,2,2012,2
2012-02-11 08:00:00+00:00,Overcast,snow,-13.888889,-20.350000,0.0,11.27,40.0,9.982,1029.9,Foggy starting overnight continuing until morn...,8,11,2,2012,5
2012-02-11 07:00:00+00:00,Overcast,snow,-15.000000,-22.738889,0.0,14.49,30.0,9.982,1029.8,Foggy starting overnight continuing until morn...,7,11,2,2012,5
2012-02-11 05:00:00+00:00,Overcast,snow,-16.111111,-23.027778,0.0,11.27,20.0,7.084,1029.9,Foggy starting overnight continuing until morn...,5,11,2,2012,5
2012-02-10 17:00:00+00:00,Foggy,snow,-15.000000,-15.000000,0.0,0.00,0.0,2.576,1034.4,Foggy starting in the morning continuing until...,17,10,2,2012,4
2012-02-02 07:00:00+00:00,Mostly Cloudy,snow,-12.777778,-19.011111,0.0,11.27,20.0,9.982,1028.1,Mostly cloudy throughout the day.,7,2,2,2012,3
2012-02-03 07:00:00+00:00,Overcast,snow,-12.222222,-21.144444,0.0,22.54,20.0,11.270,1029.7,Foggy starting in the morning continuing until...,7,3,2,2012,4

In [ ]:
#top ten days have the worst visiblility
df.sort_values(by='Visibility (km)', ascending=True).head(10)

,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars),Daily Summary,Hour,Day,Month,Year,Weekday
Formatted Date,,,,,,,,,,,,,,,
2016-09-29 08:00:00+00:00,Clear,rain,19.861111,19.861111,0.54,10.8031,240.0,0.0,1026.20,Partly cloudy until night.,8,29,9,2016,3
2014-12-26 07:00:00+00:00,Clear,rain,2.750000,-0.916667,0.76,14.4739,300.0,0.0,NaN,Overcast until morning.,7,26,12,2014,4
2014-12-26 04:00:00+00:00,Clear,rain,3.838889,0.444444,0.70,14.3290,300.0,0.0,NaN,Overcast until morning.,4,26,12,2014,4
2014-12-26 05:00:00+00:00,Clear,rain,3.838889,0.150000,0.70,16.1644,310.0,0.0,NaN,Overcast until morning.,5,26,12,2014,4
2009-06-11 02:00:00+00:00,Clear,rain,15.000000,15.000000,0.96,6.4400,260.0,0.0,1016.00,Mostly cloudy until night and breezy starting ...,2,11,6,2009,3
2009-06-11 01:00:00+00:00,Clear,rain,15.555556,15.555556,0.96,0.0000,0.0,0.0,1015.90,Mostly cloudy until night and breezy starting ...,1,11,6,2009,3
2014-12-26 08:00:00+00:00,Clear,rain,3.838889,-0.105556,0.70,17.9354,300.0,0.0,NaN,Overcast until morning.,8,26,12,2014,4
2014-12-26 01:00:00+00:00,Clear,rain,4.900000,1.511111,0.65,15.8746,300.0,0.0,NaN,Overcast until morning.,1,26,12,2014,4
2013-12-23 22:00:00+00:00,Foggy,rain,0.177778,0.177778,1.00,4.6368,6.0,0.0,1026.80,Foggy starting in the evening.,22,23,12,2013,0
2016-10-31 23:00:00+00:00,Mostly Cloudy,none,6.205556,4.527778,0.92,8.1466,297.0,0.0,1021.74,Partly cloudy starting in the afternoon.,23,31,10,2016,0